# To determine the name of your containers
COMPOSE_PROJECT_NAME=lamp

# Possible values:php81
PHPVERSION=php81
DOCUMENT_ROOT=./www
APACHE_DOCUMENT_ROOT=/var/www/html
VHOSTS_DIR=./Docker/config/vhosts
APACHE_LOG_DIR=./Docker/logs/apache2
PHP_INI=./Docker/config/php/php.ini

MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=MemberList
MYSQL_ROOT_PASSWORD=password

MYSQL_INITDB_DIR=./Docker/config/initdb
MYSQL_DATA_DIR=./Docker/data/mysql
MYSQL_LOG_DIR=./Docker/logs/mysql

HOST_MACHINE_MYSQL_PORT=3306
HOST_MACHINE_PMA_PORT=8080